.catalogLayout {
  display: flex;
  gap: 64px;
  padding-top: 24px;
  padding-bottom: 40px;
}

.camperList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  align-self: center;
  padding: 16px 32px;
  background-color: var(--bg-white);
  border: 1px solid var(--border-dark);
  border-radius: var(--radius-lg);
  font-size: 18px;
  font-weight: 500;
  color: var(--text-main);
  transition: all 0.2s ease;
  margin-top: 32px;
}

.loadMoreBtn:hover {
  background-color: var(--primary-color);
  color: var(--bg-white);
  border-color: var(--primary-color);
}
