:root {
  --primary: #E44848;
  --primary-hover: #D84343;
  --main-text: #101828;
  --secondary-text: #475467;
  --inputs-bg: #F7F7F7;
  --white: #FFFFFF;
  --border: rgba(16, 24, 40, 0.1);
  --yellow: #FFC531;
}