.header {
  width: 100%;
  height: 72px;
  background: var(--white);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  color: var(--main);
  transition: 0.2s;
}

.link:hover {
  color: var(--button);
}

.active {
  font-weight: 500;
  font-size: 16px;
  color: var(--button);
}
