.header {
  background-color: var(--bg-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
}

.navList {
  display: flex;
  gap: 32px;
}

.navLink {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-main);
  transition: color 0.2s ease;
}

.navLink:hover {
  color: var(--primary-color);
}

.activeLink {
  composes: navLink; /* navLink stillerini miras al */
  color: var(--primary-color);
  position: relative;
}

.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 1px;
}
