.card {
  padding: 32px;
  border: 1px solid var(--border);
  border-radius: 20px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.input {
  padding: 14px;
  border: 1px solid var(--border);
  border-radius: 12px;
}

.textarea {
  padding: 14px;
  border: 1px solid var(--border);
  border-radius: 12px;
  min-height: 100px;
  resize: none;
}

.button {
  margin-top: 16px;
  padding: 16px;
  border-radius: 200px;
  border: none;
  background: var(--button);
  color: var(--white);
  cursor: pointer;
}
