.cardContainer {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: var(--white);
}

.thumbnail {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.detailsContent {
  flex: 1;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.camperTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.priceText {
  font-size: 24px;
  font-weight: 600;
}

.favBtn,
.favBtnActive {
  background: none;
  font-size: 24px;
  padding: 0;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 16px;
}

.summaryText {
  color: var(--secondary-text);
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.featureTags {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.tag {
  padding: 12px 18px;
  background-color: var(--inputs-bg);
  border-radius: 100px;
  font-weight: 500;
}

.actionBtn {
  background-color: var(--primary);
  color: var(--white);
  padding: 16px 40px;
  border-radius: 200px;
  font-weight: 500;
  display: inline-block;
}

.actionBtn:hover {
  background-color: var(--primary-hover);
}
