@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #101828;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-weight: 600;
}

p {
  margin-bottom: 1em;
}

:root {
  --primary-color: #e44848;
  --primary-hover-color: #d84343;
  --text-main: #101828;
  --text-gray: #475467;
  --bg-light: #f2f4f7;
  --bg-white: #ffffff;
  --border-light: #dadde1;
  --border-dark: #a1a1a1;
  --radius-sm: 10px;
  --radius-md: 20px;
  --radius-lg: 200px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
